<!DOCTYPE html>
<html lang="en">

<head>
   {{>headerlinks}}
</head>

<body>
   
{{>navbar}}



    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right">

                        <figure>
                            <img src="images/PngItem_754013.png" alt="" class="img-fluid">
                        </figure>

                    </div>


                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather app</p>
                        <h1>I am a <span>full stack </span>Developer</h1>
                        <a href="https://www.instagram.com/p/CIezK82pMe1tQgMZYVUMljI4DN8AGvdSKLBK_M0/?utm_medium=copy_link" target="_roshan"><button>about me</button></a>
                    </div>


                   
                </div>

            </div>
        </div>
    </div>


    <footer>
        <p>created with ❤❤Roshan❤❤</p>
    </footer>
</body>

</html>